# ==========================================
# OS Files
# ==========================================

.DS_Store
Thumbs.db


.idea/

# ==========================================
# Logs
# ==========================================

*.log

# ==========================================
# Environment Files
# ==========================================

.env

# ==========================================
# AWS Credentials / Config
# ==========================================

.aws/

# ==========================================
# Kubernetes Temporary Files
# ==========================================

*.tmp

